---
apiVersion: v1
kind: Service
metadata:
  name: dev-appserver-service
spec:
  ports:
  - name: site
    port: 8078
    targetPort: site
  - name: admin
    port: 8068
    targetPort: admin
  selector:
    app: dev-appserver-app
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dev-appserver-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-appserver-app
  template:
    metadata:
      name: dev-appserver-pod-template
      labels:
        app: dev-appserver-app
    spec:
      containers:
      - name: dev-appserver-container
        image: google/cloud-sdk:183.0.0
        workingDir: /app-engine-src-container
        command: ["dev_appserver.py"]
        args:
        - dispatch.yaml
        - server/app.yaml
        - www-redirect-service/app.yaml
        - --host=127.0.0.1
        - --port=8080
        - --admin_host=127.0.0.1
        - --admin_port=8070
        - --api_host=127.0.0.1
        - --api_port=8060
        - --enable_host_checking=false
        - --use_mtime_file_watcher
        - --env_var
        - PUBSUB_EMULATOR_HOST={{ env-var-pusub-emulator-host-value }}
        volumeMounts:
        - mountPath: /app-engine-src-container
          name: app-engine-src-volume
      - name: dev-appserver-proxy-container
        image: dev-appserver-proxy:local-dev
        env:
        - name: PROXY_LISTEN_PORT
          value: "8079"
        - name: PROXY_TARGET_PORT
          value: "8080"
        - name: ADMIN_PROXY_LISTEN_PORT
          value: "8069"
        - name: ADMIN_PROXY_TARGET_PORT
          value: "8070"
        ports:
        - name: site
          containerPort: 8079
        - name: admin
          containerPort: 8069
      volumes:
      - name: app-engine-src-volume
        hostPath:
          # directory location on host
          path: /app-engine-src-host
          # this field is optional
          type: Directory
