---
apiVersion: v1
kind: Service
metadata:
  name: dev-appserver-service
spec:
  ports:
  - name: site
    port: 8081
    targetPort: 8080
  - name: admin
    port: 8071
    targetPort: 8070
  - name: api
    port: 8061
    targetPort: 8060
  selector:
    app: dev-appserver-app
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dev-appserver-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-appserver-app
  template:
    metadata:
      name: dev-appserver-pod-template
      labels:
        app: dev-appserver-app
    spec:
      containers:
      - name: dev-appserver-container
        image: google/cloud-sdk:latest
        workingDir: /app-engine-src-container
        command: ["dev_appserver.py"]
        args:
        - dispatch.yaml
        - server/app.yaml
        - www-redirect-service/app.yaml
        - --host=0.0.0.0
        - --port=8080
        - --admin_host=0.0.0.0
        - --admin_port=8070
        - --api_host=0.0.0.0
        - --api_port=8060
        - --enable_host_checking=false
        - --use_mtime_file_watcher
        ports:
        - containerPort: 8060
        - containerPort: 8070
        - containerPort: 8080
        volumeMounts:
        - mountPath: /app-engine-src-container
          name: app-engine-src-volume
      volumes:
      - name: app-engine-src-volume
        hostPath:
          # directory location on host
          path: /app-engine-src-host
          # this field is optional
          type: Directory
