apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ryustar-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    # Increase these for websockets
    nginx.ingress.kubernetes.io/proxy-read-timeout: 3600
    nginx.ingress.kubernetes.io/proxy-send-timeout: 3600
    # To work around pretty strict origin header checking in dev_appserver xhr handling
    # combined with tight coupling of origin to its --admin_host, --admin_port params
    # Strip origin header for gae-admin.ryustar.invalid so it doesn't bother checking
    ingress.kubernetes.io/configuration-snippet: |
      set $new_origin $http_origin;
      if ($host = "gae-admin.ryustar.invalid") {
        set $new_origin "";
      }
      proxy_set_header Origin $new_origin;
spec:
  rules:
  - host: www.ryustar.invalid
    http:
      paths:
      - path:
        backend:
          serviceName: dev-appserver-service
          servicePort: 8081
  - host: gae-admin.ryustar.invalid
    http:
      paths:
      - path:
        backend:
          serviceName: dev-appserver-service
          servicePort: 8071
  - host: ws.ryustar.invalid
    http:
      paths:
      - path:
        backend:
          serviceName: websocket-service
          servicePort: {{ websocket-service-service-listen-port }}
