apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ryustar-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: www.ryustar.invalid
    http:
      paths:
      - path:
        backend:
          serviceName: dev-appserver-service
          servicePort: site
  - host: gae-admin.ryustar.invalid
    http:
      paths:
      - path:
        backend:
          serviceName: dev-appserver-service
          servicePort: admin
  - host: ws.ryustar.invalid
    http:
      paths:
      - path:
        backend:
          serviceName: websocket-service
          servicePort: {{ websocket-service-service-listen-port }}
