---
apiVersion: v1
kind: Service
metadata:
  name: websocket-service
spec:
  ports:
  - port: {{ websocket-service-service-listen-port }}
    targetPort: {{ websocket-service-container-listen-port }}
  selector:
    app: ryustar-websocket-service-app
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ryustar-websocket-service-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ryustar-websocket-service-app
  template:
    metadata:
      name: ryustar-websocket-service-pod-template
      labels:
        app: ryustar-websocket-service-app
    spec:
      containers:
      - name: ryustar-websocket-service
        image: {{ websocket-service-container-image }}
        env:
        - name: LISTEN_PORT
          value: "{{ websocket-service-container-listen-port }}"
        - name: "{{ env-var-pusub-emulator-host-key }}"
          value: "{{ env-var-pusub-emulator-host-value }}"
        - name: "{{ env-var-gcloud-project-key }}"
          value: "{{ env-var-gcloud-project-value }}"
        ports:
        - containerPort: {{ websocket-service-container-listen-port }}
