---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ryustar-websocket-service-deployment
spec:
  replicas: {{ websocket-service-deployment-replicas }}
  selector:
    matchLabels:
      app: ryustar-websocket-service-app
  template:
    metadata:
      name: ryustar-websocket-service-pod-template
      labels:
        app: ryustar-websocket-service-app
    spec:
      containers:
      - name: ryustar-websocket-service
        image: {{ &websocket-service-container-image }}
        env:
        - name: LISTEN_PORT
          value: "{{ websocket-service-container-listen-port }}"
        - name: "{{ env-var-pusub-emulator-host-key }}"
          value: "{{ env-var-pusub-emulator-host-value }}"
        - name: "{{ env-var-gcloud-project-key }}"
          value: "{{ env-var-gcloud-project-value }}"
        ports:
        - containerPort: {{ websocket-service-container-listen-port }}
        readinessProbe:
          httpGet:
            path: /
            port: {{ websocket-service-container-listen-port }}
          initialDelaySeconds: 5
          timeoutSeconds: 5
        resources:
          requests:
            cpu: 1
            memory: 120M
